* {
	font-family: "Roboto", sans-serif;
	/*semicolon: delimeter*/
}
h1,h2 {
	font-family: "Montserrat", sans-serif;
}

img{
	height: 250px;
	width: 	250px;
}

.jumbotron{


	background-color: transparent;
}
#landing {
	height: 80vh;
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* centers the content verticlly using flexbox */
#gallery{
	display:  flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
}
/* sele the style of an ul*/
ul {
	list-style-type: none;

	padding: 0;
}

h2{color: lightcoral;}

.tools{
	padding: 25px;
	height: 200px;
	border: 5px solid #333333;
	margin: 20px;
	width: 75%;
	color: white;
}

